body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 72px;
    font-family: "Monaco", monospace;
    padding: 72px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

td {
    border: 4px solid black;
    width: 150px;
    height: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
    height: 40px;
    width: 240px;
    font-size: 24px;
}

input:hover {
    border-bottom-style: groove;
}

.playername-btn {
    opacity: 0.4;
    font-size: 16px;
}

.playername-btn:hover {
    opacity: 0.8;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: none;
}

.modal-content {
    display: flex;
    width: 800px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

#restart-btn {
    font-size: 32px;
    background-color: rgb(255, 34, 34);
    color: white;
    border-radius: 8px;
}

#board {
    display: flex;
    justify-content: space-around;
    padding: 36px;
}

.player-section {
    margin: 12px;
    font-size: 20px;
}


::placeholder {
    font-size: 26px;
}